@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Poppins:ital,wght@0,400;0,600;0,700;1,400&family=Roboto+Mono:wght@400;600;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-white: #fff;
    --color-black: #000;
    --color-pastelgrey: #cccccc;
    --color-pastelgrey2: #e5e5e5;
    --color-marineblue: #002F5F;
    --color-darkskyblue: #4698EA;
    --color-bandeisblue: #0073E6;
    --color-darkgryeblue: #1F4266;
    --color-mediumtealblue: #0059B3;
    --color-mediumtealblue_faded: #07428165;
    
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    background-color: var(--color-white);
    color: var(--color-black);
}
.img_logo, .logo_footer > img{
    width: 200px;
}
.header, .navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
}
.header{
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-pastelgrey2);
}
.navigation_header{
    gap: 2em;
    padding: 0px;
    margin: 0px -25px 0px 0px;
}
.link_header{
    text-decoration: none;
    color: var(--color-black);
    font-size: 1em;
    font-weight: 600;
    transition: color .4s ease-in-out;
}
.link_header:hover{
    color: var(--color-mediumtealblue);
}
#link_sign_up{
    background-color: var(--color-marineblue);
    color: var(--color-white);
    padding: 5px 20px;
    border-radius: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-marineblue);
}
#link_sign_up:hover{
    background-color: var(--color-mediumtealblue);
    border-color: var(--color-mediumtealblue);
    color: var(--color-white);
    transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out, color 0.4s ease-in-out;
}
.main_container {
    background-color: var(--color-pastelgrey2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 300px 0px 300px;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  .main_output {
    background-color: var(--color-pastelgrey2);
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    color: var(--color-white);
    font-size: 1em;
  }
  .main_input{
    width: 100%;
  }
  .main_input > .input {
    background-color: var(--color-pastelgrey2);
    border: none;
    height: 70px;
    width: calc(100% - 20px);
    border-radius: 0px 0px 10px 10px;
    padding-left: 20px;
    font-size: 1em;
    border-top: #cccccc 1px solid;
    text-decoration: none;
  }
  .main_input > .input:focus {
    outline: none;
  }
  .footer_container{
    background-color: var(--color-marineblue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    margin-top: 150px;
    height: 20vh;
  }
  
  
